# see app/core/config.py
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=
JWT_SECRET=
REDIS_HOST=
REDIS_PORT=
CACHE_ENABLED=
CACHE_TTL_SECONDS=
CACHE_TIMEOUT_SECONDS=
RATE_LIMIT_ENABLED=